<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="stylesheets/app.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
        <style type="text/css">
            .tm  { position: absolute; top: 10px; right: 10px; }
            .webgl-error { font: 15px/30px monospace; text-align: center; color: #fff; margin: 50px; }
            .webgl-error a { color: #fff; }
        </style>
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BrewBird</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#webgl">Map</a></li>
            <li><a href="#tweetstexttable">Data</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>


<div id="webgl" style="margin-top:50px"></div>
<div class="container-fluid">
    <div class="row-fluid">
            <div class="span6" style="width:50%; float:left; padding:5px">
                <div class="accordion-group">
                    <div class="breadcrumb">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">

                            <i class="icon-minus icon-white"></i>Words
                        </a>
                        <div class="tooltip-box">
                            <a href="#" rel="tooltip" data-placement="left" data-original-title="The list is limited to the last 100 tweets."><i class="icon-info-sign icon-white"></i></a>
                        </div>
                    </div>
                    <div id="collapse3" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="widgetblock" id="percenttext">
                                <table id="percenttexttable" class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6" style="width:50%; float:right; padding:5px">
                <div class="accordion-group">
                    <div class="breadcrumb">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <i class="icon-minus icon-white"></i>Tweets
                        </a>
                        <div class="tooltip-box">
                            <a href="#" rel="tooltip" data-placement="left" data-original-title="The list is limited to the last 100 tweets."><i class="icon-info-sign icon-white"></i></a>
                        </div>
                    </div>
                    <div id="collapse3" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="widgetblock" id="tweetstext">
                                <table id="tweetstexttable" class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="about">
    <div class="row-fluid">
        <h2>About</h2>
        <p> The intention of this project is to inform the viewer real-time about the drink preferences that people are tweeting about around the world. This project combines Kafka, Storm, Cassandra, Node and WebGL in order to create the visualization and information that is displayed above. A presentation on the different parts of the system can be found <a href="http://prezi.com/ibm0i2dztunz/?utm_campaign=share&utm_medium=copy&rc=ex0share">here</a>. Created for CU's Big Data class, Brewbird utilizes a distributed system run on AWS. The creators for this project are: Tagg Ridler, Dasha Tarasova, Kira Quan, and Connor Boyd.
        </p>
    </div>
</div>
<hr>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/javascripts/socket.js"></script>
<script src="javascripts/three.min.js"></script>
<script src="javascripts/Detector.js"></script>      
<script src="javascripts/TrackballControls.js"></script>
<script type="text/javascript">
    $(".collapse").collapse();
    $('#accordion').collapse({hide: true})
    $(".accordion-toggle").click(function() {
        var imgElement =$(this).find('i:first');
        if(imgElement.attr('class')==="icon-minus icon-white"){
            imgElement.attr('class','icon-plus icon-white');
        } else {
            imgElement.attr('class','icon-minus icon-white');
        }
    });
    $('#tweetsTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('#tweetsTab a:first').tab('show');

    $('.tooltip-box').tooltip({
        selector: "a[rel=tooltip]"
    })
</script>
</body>
</html>